.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 0 1.15rem 0;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94.5%;
  gap: 5%;
}

.buttonWrapper {
  display: flex;
  align-self: end;
}

.header {
  margin: 0;
}

.taskInput {
  width: 82%;
  max-width: 82%;
  min-width: 70%;
  height: 1.7rem;
  min-height: 1.7rem;
  border-radius: 3px;
  border: 1.5px solid lightgrey;
  outline: none;
  padding: 10px 10px 2px 12px;
}
.taskInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}

.taskInput:focus {
  box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
    inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
  background-color: #f3f3f3;
  border: 1.5px solid #f3f3f3;
  -webkit-appearance: none;
}

.addButton {
  background: #226da1;
  border: 0;
  border-radius: 3px;
  margin: 1rem 0 0 0;
  height: 2.1rem;
  color: white;
  padding: 0 15px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  cursor: pointer;
}
.addButton:hover,
.addButton:active {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(106, 213, 255, 0.26),
    2px 2px 4px 0 rgba(34, 60, 80, 0.2), -4px -4px 8px 0 rgb(255, 255, 255);
  color: #cee8ff;
}
