.buttons__holder {
  display: flex;
  width: 9%;
  min-width: 45px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 15px;

  .delete {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    z-index: 1;

    &:hover > .deleteIcon:hover {
      width: 20px;
      height: 20px;
      fill: red;
    }
    .deleteIcon {
      width: 20px;
      height: 20px;
      fill: #e73f47;
    }
  }
}
