.editInput {
  width: 89%;
  max-width: 89%;
  min-width: 82%;
  outline: none;
  border: none;
  background: transparent;
}
.editInput:focus,
.editInput:hover {
  outline: none;
  border: none;
  background: transparent;
}

.editInput:focus {
  border-radius: 2px;
}

.saveChangesButton {
  display: flex;
  justify-content: center;
  width: 10.1%;
  align-items: center;
  min-width: 40px;
}
.saveEdit {
  background: #226da1;
  border: 0;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;

  .saveEditIcon {
    position: absolute;
    width: 15px;
    height: 15px;
  }
  .saveEditIcon path {
    stroke: #ffffff;
  }
}
.saveEdit:hover {
  background: #36adff;
}
