/*Lato-Regular 400 */
@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('./assets/fonts/Lato-Regular.ttf') format('ttf'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/Lato-Regular.ttf') format('ttf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background: #6a62d3;
}

input {
  outline: none;
}

button {
  outline: none;
}

.wrapper {
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
