.taskText {
  width: 100%;
}
.taskText:hover {
  cursor: pointer;
}
.false {
  &__liWrapper {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 8px 0 8px 15px;
    color: black;
    word-wrap: anywhere;

    &:hover {
      border-radius: 2px;
      box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
        inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
      background-color: #f3f3f3;

      .false__checkLabel-checkMark {
        background-color: #49ac5e;
        border-radius: 2px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity: 1;
        box-shadow: none;

        &::after {
          -webkit-transform: rotate(35deg) scale(1);
          -ms-transform: rotate(35deg) scale(1);
          transform: rotate(35deg) scale(1);
          opacity: 1;
          left: 8px;
          top: 3px;
          width: 3px;
          height: 10px;
          border: solid white;
          border-width: 0 1.5px 1.5px 0;
          background-color: transparent;
          border-radius: 0;
        }

        &::before {
          left: -3px;
          top: -3px;
          width: 20px;
          height: 20px;
          border-radius: 2px;
          -webkit-transform: scale(3);
          -ms-transform: scale(3);
          transform: scale(3);
          opacity: 0;
          z-index: 999;
          transition: all 0.3s ease-out;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
        }
      }
    }
  }

  &__checkLabel {
    display: block;
    position: relative;
    cursor: pointer;
    height: 20px;
  }

  &__checkLabel-check {
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
  }

  &__checkLabel-checkMark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-shadow: inset -2px -2px 2px 0 rgba(255, 255, 255, 0.7),
      inset 2px 2px 2px 0 rgba(174, 174, 192, 0.58),
      2px 2px 2px 0 rgba(174, 174, 192, 0.58);

    &::after {
      position: absolute;
      content: '';
      left: 12px;
      top: 12px;
      height: 0px;
      width: 0px;
      border-radius: 2px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }

    &::before {
      position: absolute;
      content: '';
      left: 10px;
      top: 10px;
      width: 0px;
      height: 0px;
      border-radius: 2px;
      border: 2px solid #fff;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
  }

  &__checkLabel-checkMark:hover:hover {
    background-color: #30d355;
  }
}

.true {
  &__liWrapper {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    word-wrap: anywhere;
    padding: 8px 0 8px 15px;
    color: #9f9f9f;

    &:hover {
      border-radius: 3px;
      box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
        inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
        8px 8px 24px 0 rgba(174, 174, 192, 0.4);
      color: black;
    }
  }

  &__checkLabel {
    display: block;
    position: relative;
    cursor: pointer;
    height: 20px;
  }

  &__checkLabel-check {
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
  }

  &__checkLabel-checkMark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #49ac5e;
    border-radius: 2px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    box-shadow: none;

    &::after {
      transform: rotate(35deg) scale(1);
      opacity: 1;
      left: 8px;
      top: 3px;
      width: 3px;
      height: 10px;
      border: solid white;
      border-width: 0 1.5px 1.5px 0;
      background-color: transparent;
      border-radius: 0;
      position: absolute;
      content: '';
    }
  }

  &__checkLabel-checkMark:hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-shadow: inset -2px -2px 2px 0 rgba(255, 255, 255, 0.7),
      inset 2px 2px 2px 0 rgba(174, 174, 192, 0.58),
      2px 2px 2px 0 rgba(174, 174, 192, 0.58);

    &::after {
      position: absolute;
      content: '';
      left: 12px;
      top: 12px;
      height: 0px;
      width: 0px;
      border-radius: 2px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }

    &::before {
      position: absolute;
      content: '';
      left: 10px;
      top: 10px;
      width: 0px;
      height: 0px;
      border-radius: 2px;
      border: 2px solid #fff;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
  }
}
.true {
  &__editModeLiWrapper {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 8px 0 8px 15px;
    color: black;
    word-wrap: anywhere;
    box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
      inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
    background-color: #f3f3f3;
  }
}
